@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", sans-serif;
	cursor: default;
}

.App {
	display: flex;
	justify-content: left;
	align-items: center;
	height: 100%;
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
	padding: 16px;
}

.title {
	display: flex;
	font-size: 40px;
	align-items: center;
}

.flex-column-center {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.card {
	border-radius: 16px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 0px;
	background-color: #fafafa;
}

.card-detalles-header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
	border-radius: 16px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 0px;
	background-color: #fafafa;
	padding-top: 16px;
	padding-bottom: 24px;
}

.city-item-card {
	border-radius: 16px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 0px;
	background-color: #fafafa;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
}

.city-item-icon {
	color: #900c3e;
}

.country-code-color {
	color: #aaaaaa;
}

.detalles-row {
	display: flex;
	justify-content: space-between;
}

.weather-item {
	display: flex;
	border-radius: 16px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 0px;
	background-color: #fafafa;
	width: 100%;
	padding: 8px;
}

.weather-statistic {
	padding-right: 6px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.subtitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 16px;
	padding-bottom: 8px;
}

.subheader-city {
	color: #aaaaaa;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
}
